In [373]:
import pandas as pd
import numpy as np

In [374]:
df = pd.read_csv("credit+approval/crx.data", header=None)
df

    0      1       2  3  4   5   6     7  8  9   10 11 12     13   14 15
0    b  30.83   0.000  u  g   w   v  1.25  t  t   1  f  g  00202    0  +
1    a  58.67   4.460  u  g   q   h  3.04  t  t   6  f  g  00043  560  +
2    a  24.50   0.500  u  g   q   h  1.50  t  f   0  f  g  00280  824  +
3    b  27.83   1.540  u  g   w   v  3.75  t  t   5  t  g  00100    3  +
4    b  20.17   5.625  u  g   w   v  1.71  t  f   0  f  s  00120    0  +
..  ..    ...     ... .. ..  ..  ..   ... .. ..  .. .. ..    ...  ... ..
685  b  21.08  10.085  y  p   e   h  1.25  f  f   0  f  g  00260    0  -
686  a  22.67   0.750  u  g   c   v  2.00  f  t   2  t  g  00200  394  -
687  a  25.25  13.500  y  p  ff  ff  2.00  f  t   1  t  g  00200    1  -
688  b  17.92   0.205  u  g  aa   v  0.04  f  f   0  f  g  00280  750  -
689  b  35.00   3.375  u  g   c   h  8.29  f  f   0  t  g  00000    0  -

[690 rows x 16 columns]

In [375]:
columns = [f"A{i}" for i in range(1, len(df.columns) + 1)]  # робимо імена колонокзгідно датасету
df.columns = columns
df

    A1     A2      A3 A4 A5  A6  A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0    b  30.83   0.000  u  g   w   v  1.25  t   t    1   f   g  00202    0   +
1    a  58.67   4.460  u  g   q   h  3.04  t   t    6   f   g  00043  560   +
2    a  24.50   0.500  u  g   q   h  1.50  t   f    0   f   g  00280  824   +
3    b  27.83   1.540  u  g   w   v  3.75  t   t    5   t   g  00100    3   +
4    b  20.17   5.625  u  g   w   v  1.71  t   f    0   f   s  00120    0   +
..  ..    ...     ... .. ..  ..  ..   ... ..  ..  ...  ..  ..    ...  ...  ..
685  b  21.08  10.085  y  p   e   h  1.25  f   f    0   f   g  00260    0   -
686  a  22.67   0.750  u  g   c   v  2.00  f   t    2   t   g  00200  394   -
687  a  25.25  13.500  y  p  ff  ff  2.00  f   t    1   t   g  00200    1   -
688  b  17.92   0.205  u  g  aa   v  0.04  f   f    0   f   g  00280  750   -
689  b  35.00   3.375  u  g   c   h  8.29  f   f    0   t   g  00000    0   -

[690 rows x 16 columns]

In [376]:
df.isna().sum() # >> показує крізь 0, але ми прочитали, в описі що пропуски є. Подивисось що мможе бути пропуском

A1     0
A2     0
A3     0
A4     0
A5     0
A6     0
A7     0
A8     0
A9     0
A10    0
A11    0
A12    0
A13    0
A14    0
A15    0
A16    0
dtype: int64

In [377]:
df.value_counts()  # бачимо сивол "?", якого не має бути в ознаках, судячи з опису

A1  A2     A3      A4  A5  A6  A7  A8      A9  A10  A11  A12  A13  A14    A15   A16
b   ?      10.500  u   g   x   v   6.500   t   f    0    f    g    00000  0     +      1
?   20.08  0.125   u   g   q   v   1.000   f   t    1    f    g    00240  768   +      1
b   64.08  20.000  u   g   x   h   17.500  t   t    9    t    g    00000  1000  +      1
    63.33  0.540   u   g   c   v   0.585   t   t    3    t    g    00180  0     -      1
    62.75  7.000   u   g   e   z   0.000   f   f    0    f    g    00000  12    -      1
                                                                                      ..
?   29.75  0.665   u   g   w   v   0.250   f   f    0    t    g    00300  0     -      1
    29.50  2.000   y   p   e   h   2.000   f   f    0    f    g    00256  17    -      1
    28.17  0.585   u   g   aa  v   0.040   f   f    0    f    g    00260  1004  -      1
    26.50  2.710   y   p   ?   ?   0.085   f   f    0    f    s    00080  0     -      1
    24.50  12.750  u   g   c   bb  4.750   t   t    2    f    g    00073  444   +      1
Name: count, Length: 690, dtype: int64

In [378]:
(df == "?").sum() # так, судячи з опису, це наші пропуски.

A1     12
A2     12
A3      0
A4      6
A5      6
A6      9
A7      9
A8      0
A9      0
A10     0
A11     0
A12     0
A13     0
A14    13
A15     0
A16     0
dtype: int64

In [379]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      690 non-null    object
 1   A2      690 non-null    object
 2   A3      690 non-null    float64
 3   A4      690 non-null    object
 4   A5      690 non-null    object
 5   A6      690 non-null    object
 6   A7      690 non-null    object
 7   A8      690 non-null    float64
 8   A9      690 non-null    object
 9   A10     690 non-null    object
 10  A11     690 non-null    int64
 11  A12     690 non-null    object
 12  A13     690 non-null    object
 13  A14     690 non-null    object
 14  A15     690 non-null    int64
 15  A16     690 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.4+ KB

In [380]:
# так як ми не знаємо як класифікувати категоріальні ознаки з пропущєними значеннями - ми їх видалимо
# можемо собі це дозволити так як таких значень небагато
df.replace("?", np.nan, inplace=True)

for col in df.columns: # спочатку приведемо все що можемо до числових типів та змінимо самі типи
    if np.issubdtype(df[col].dtype, np.integer):
        df[col] = df[col].astype("int32")
        continue
    try:
        df[col] = df[col].astype("float32")
    except ValueError as ex:
        # print(f"{col}: {ex}")
        continue
# df.info()

obj_cols = df.select_dtypes(include="object")
indxs = obj_cols[obj_cols.isna().any(axis=1)].index  # отримали індекси усіх рядків в колонках типу object которих були пропущені значення
# indxs
df.drop(indxs, inplace=True)
df.isna().sum()

A1      0
A2     12
A3      0
A4      0
A5      0
A6      0
A7      0
A8      0
A9      0
A10     0
A11     0
A12     0
A13     0
A14     7
A15     0
A16     0
dtype: int64

In [381]:
# тепер всім пропускам дамо середнє значення по колонці
numeric_df = df.select_dtypes(exclude="object")
df[numeric_df.columns] = numeric_df.apply(lambda x: x.fillna(x.mean()), axis=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 671 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      671 non-null    object
 1   A2      671 non-null    float32
 2   A3      671 non-null    float32
 3   A4      671 non-null    object
 4   A5      671 non-null    object
 5   A6      671 non-null    object
 6   A7      671 non-null    object
 7   A8      671 non-null    float32
 8   A9      671 non-null    object
 9   A10     671 non-null    object
 10  A11     671 non-null    int32
 11  A12     671 non-null    object
 12  A13     671 non-null    object
 13  A14     671 non-null    float32
 14  A15     671 non-null    int32
 15  A16     671 non-null    object
dtypes: float32(4), int32(2), object(10)
memory usage: 73.4+ KB

In [382]:
df

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,b,30.830000,0.000,u,g,w,v,1.25,t,t,1,f,g,202.0,0,+
1,a,58.669998,4.460,u,g,q,h,3.04,t,t,6,f,g,43.0,560,+
2,a,24.500000,0.500,u,g,q,h,1.50,t,f,0,f,g,280.0,824,+
3,b,27.830000,1.540,u,g,w,v,3.75,t,t,5,t,g,100.0,3,+
4,b,20.170000,5.625,u,g,w,v,1.71,t,f,0,f,s,120.0,0,+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,b,21.080000,10.085,y,p,e,h,1.25,f,f,0,f,g,260.0,0,-
686,a,22.670000,0.750,u,g,c,v,2.00,f,t,2,t,g,200.0,394,-
687,a,25.250000,13.500,y,p,ff,ff,2.00,f,t,1,t,g,200.0,1,-
688,b,17.920000,0.205,u,g,aa,v,0.04,f,f,0,f,g,280.0,750,-
689,b,35.000000,3.375,u,g,c,h,8.29,f,f,0,t,g,0.0,0,-

In [ ]:
# переведемо категорійні ознаки в числові. Для ознак які мають 2 унікальних значення переведемо в 1 та 0
# для ознак, що мають більше двух значень застосуємо 
val_list = []
for col in df.select_dtypes(include="object").columns: 
    val_list = df[col].unique()
    if len(val_list) == 2:
        df[col] = df[col].map({val_list[0]: 1, val_list[1]: 0})
    # else:e
df

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,1,30.830000,0.000,u,g,w,v,1.25,1,1,1,1,g,202.0,0,1
1,0,58.669998,4.460,u,g,q,h,3.04,1,1,6,1,g,43.0,560,1
2,0,24.500000,0.500,u,g,q,h,1.50,1,0,0,1,g,280.0,824,1
3,1,27.830000,1.540,u,g,w,v,3.75,1,1,5,0,g,100.0,3,1
4,1,20.170000,5.625,u,g,w,v,1.71,1,0,0,1,s,120.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,1,21.080000,10.085,y,p,e,h,1.25,0,0,0,1,g,260.0,0,0
686,0,22.670000,0.750,u,g,c,v,2.00,0,1,2,0,g,200.0,394,0
687,0,25.250000,13.500,y,p,ff,ff,2.00,0,1,1,0,g,200.0,1,0
688,1,17.920000,0.205,u,g,aa,v,0.04,0,0,0,1,g,280.0,750,0
689,1,35.000000,3.375,u,g,c,h,8.29,0,0,0,0,g,0.0,0,0