<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br> 

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнє завдання № 1 (демо).<br> Аналіз даних доходів населення UCI Adult</center>

**В завданні пропонується за допомогою Pandas дати відповідь на кілька запитань по даним репозиторія UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult).**

Унікальні значення ознак:
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Скільки чоловіків и жінок (ознака *sex*) представлено в цьому наборі даних?**

In [77]:
count = data["sex"].value_counts()
# print(count) # можна було б просто серію роздрукувати і не писати код нижче
for sex, val in count.items():
    print(f"{sex}: {val}")

Male: 21790
Female: 10771

**2. Який середній вік (ознака *age*) жінок?**

In [78]:
woman_filtered = data[data["sex"] == "Female"]
mean_woman_age = float(woman_filtered["age"].mean()) 
print(f"середній віж жінок в датасеті - {mean_woman_age:.2f} років")

середній віж жінок в датасеті - 36.86 років

**3. Яка доля громадян Німеччини (ознака *native-country*)?**

In [61]:
mask = data["native-country"] == "Germany"
from_germany_prcntg = mask.mean() * 100
print(f"Відсоток громадян Німеччини: {from_germany_prcntg:.2f}%")

Відсоток громадян Німеччини: 0.42%

**4-5. Які средні значення та средньоквадратичні відхилення віку тих, хто отримує більше 50K на рік (ознака *salary*) і тих, хто отримує менше 50K на рік?**

In [62]:
salary_vals = data["salary"].unique() # подивився які взагалі можуть бути значення

# раз вже подивився, то не пропадати ж словнику бездарно
for val in salary_vals:
    sallary_category_age = data[data["salary"] == val]["age"]
    print(f"для людей з ЗП {val}:\n\tсередній вік - {sallary_category_age.mean():.2f}\n\tсередньоквадратичне відхилення віку - {sallary_category_age.std():.2f}\n")

для людей з ЗП <=50K:
	середній вік - 36.78
	середньоквадратичне відхилення віку - 14.02

для людей з ЗП >50K:
	середній вік - 44.25
	середньоквадратичне відхилення віку - 10.52

**6. Чи правда, що люди, які отримують більше 50k, мають як мінімум вищу освіту? (ознака *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [83]:
education_list = ["Bachelors", 'Prof-school', "Assoc-acdm", 'Assoc-voc', "Masters", "Doctorate"]

filtered_by_salary = data[data["salary"] == ">50K"] # відібрали усіх хто отримує >50к
result = all(filtered_by_salary["education"].isin(education_list)) # перевірили чи всі хто має >50k має вищу освіту
print(f"{'правда' if result else 'не правда'}")

не правда

**7. Порахуйте статистику віку для кожної раси (ознака *race*) і кожної статі. Використайте *groupby* и *describe*. Знайдіть таким сином максимальний вік чоловіків раси *Amer-Indian-Eskimo*.**

In [69]:
target_race = "Amer-Indian-Eskimo"
target_sex = "Male"

race_sex_df = data.groupby(["race", "sex"])['age'].describe() # статистика для кожної статі в розрізі кожної раси

aie_max_age = race_sex_df.loc[(target_race, target_sex), "max"] # отримуємо данні max для  потрібної раси та статі в ній
print(f"Максимальний вік чоловіків раси {target_race} - {aie_max_age}")


# aie_male_df = data[(data["race"] == target_race) & (data["sex"] == target_sex)]["age"].max()
# Вцілому для кінцевого результату таке рішення здається більш інтуітивно зрозумілим. Але зі збільшенням кількості умов буде збільшуватись складність розуміння коду.

Максимальний вік чоловіків раси Amer-Indian-Eskimo - 82.0

**8. Серед кого більша доля багатіших (>50K): серед одружених чи не одружених чоловіків (ознака *marital-status*)? За одружених вважаємо тих, у кого *marital-status* починається із *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), всі інші - не одружені.**

In [70]:
married_trigger = "Married"
salary_condition = ">50K"


merried_men_df = data[(data["sex"] == "Male") & (data["marital-status"].str.startswith(married_trigger))] # отримали дані про чоловіків чий статус починається на Married
greater50k_married = (merried_men_df['salary'] == salary_condition).mean() * 100 # отримали відсоток багатих серед одружених

if greater50k_married != 50:  # так як ми шукаємо більшу долю, і у нас всього 2 варіанти визначення рівня прибутку - нам не потрібно явно знаходити долю бідних
    mach_married = greater50k_married > 50
    condition_text = "" if mach_married else "не"
    condition_prcntg = greater50k_married if mach_married else (100 - greater50k_married)
    print(f"більша доля багатіших ({salary_condition}) серед {condition_text} одружених чоловіків - {condition_prcntg:.2f}%")
else:
    print("одружені та не одружені чоловіки заробляють однаково")

більша доля багатіших (>50K) серед не одружених чоловіків - 55.95%

**9. Яку максимальну кількість годин в тиждень працює людина (ознака *hours-per-week*)? Скільки людей працюють таку кількість годин і який відсоток серед них багатих?**

In [71]:

filterd_df = data[["hours-per-week", "salary"]] # Питання: чи є позитивною практикою працювати лише з тими фічами, які нас цікавлять в контексті задачі?
max_hours_per_week = filterd_df['hours-per-week'].max()  # отримали максимальне значення фічі d df
hardworkers_mask = filterd_df["hours-per-week"] == max_hours_per_week # скільки людей працює максимальний час
hardworkers_df = filterd_df[(filterd_df["hours-per-week"] == max_hours_per_week)] # отримав df людей, що працюють максимальний час

rich_hardworkers_prcntg = (hardworkers_df['salary'] == ">50K").mean() * 100  #отримали відсоток богатих трудяг
print(f"людина працює максимум {max_hours_per_week} годин\nтаку кількість годин працює {hardworkers_mask.sum()} людей, серед них багатих {rich_hardworkers_prcntg:.2f}%")

людина працює максимум 99 годин
таку кількість годин працює 85 людей, серед них багатих 29.41%

**10. Порахуйте середню тривалість роботи на тиждень (*hours-per-week*) серед багатих і бідних (*salary*) для кожної країни (*native-country*).**

In [84]:
# З написаного тексту я зрозумів, що потрібно навести данні по кожній країні окремо
# Але на лекції ти сказав, що хочеш тут побачити дві цифри. Звучить так, що це загальне по всім країнам.
# Тож я реалізував обидва вааріанти.

stat_df = data.groupby(["native-country", "salary"])["hours-per-week"].describe()  # data.groupby([1_рівень_вкладеності, 2_рівень_вкладеності, ...][на_що_отримуємо статистику])

stat_mean_hours_series = stat_df["mean"] # вибірка середньої тривалості роботи по кожній країні серед бідних та багатих
stat_df = stat_df.reset_index() # groupby перетворює фічі які групують на мультііндекс. 

total_rich_hours_mean = stat_df[stat_df["salary"] == ">50K"]["mean"].mean() 
total_poor_hours_mean = stat_df[stat_df["salary"] == "<=50K"]["mean"].mean()
print(f"All countries:\n\trich peope work an average {total_rich_hours_mean:.2f} hours per week\n\tpoor people work an average {total_poor_hours_mean:.2f} hours per week")

for country in stat_df['native-country'].unique():  # можна було щоб не ресетити індекси у stat_df, вибрати unique з data, але тоді якщо data десь зміниться - все зламається
    rich_hours = stat_mean_hours_series.get((country, '>50K'), False)
    poor_hours = stat_mean_hours_series.get((country, '<=50K'), False)
    # в датасеті є одна країна де немає багатих людей, тож для обробки цього випадку створюємо підрядки, щоб уникнути помилки, або нелогічного виводу
    rich_text = "" if not rich_hours else f"rich people work an average {rich_hours:.2f} hours per week\n\t"
    poor_text = "" if not poor_hours else f"poor people work an average {poor_hours:.2f} hours per week"
    print(f"In {country}:\n\t{rich_text}{poor_text}")

All countries:
	rich peope work an average 45.24 hours per week
	poor people work an average 38.89 hours per week
In ?:
	rich people work an average 45.55 hours per week
	poor people work an average 40.16 hours per week
In Cambodia:
	rich people work an average 40.00 hours per week
	poor people work an average 41.42 hours per week
In Canada:
	rich people work an average 45.64 hours per week
	poor people work an average 37.91 hours per week
In China:
	rich people work an average 38.90 hours per week
	poor people work an average 37.38 hours per week
In Columbia:
	rich people work an average 50.00 hours per week
	poor people work an average 38.68 hours per week
In Cuba:
	rich people work an average 42.44 hours per week
	poor people work an average 37.99 hours per week
In Dominican-Republic:
	rich people work an average 47.00 hours per week
	poor people work an average 42.34 hours per week
In Ecuador:
	rich people work an average 48.75 hours per week
	poor people work an average 38.04 hours per week
In El-Salvador:
	rich people work an average 45.00 hours per week
	poor people work an average 36.03 hours per week
In England:
	rich people work an average 44.53 hours per week
	poor people work an average 40.48 hours per week
In France:
	rich people work an average 50.75 hours per week
	poor people work an average 41.06 hours per week
In Germany:
	rich people work an average 44.98 hours per week
	poor people work an average 39.14 hours per week
In Greece:
	rich people work an average 50.62 hours per week
	poor people work an average 41.81 hours per week
In Guatemala:
	rich people work an average 36.67 hours per week
	poor people work an average 39.36 hours per week
In Haiti:
	rich people work an average 42.75 hours per week
	poor people work an average 36.33 hours per week
In Holand-Netherlands:
	poor people work an average 40.00 hours per week
In Honduras:
	rich people work an average 60.00 hours per week
	poor people work an average 34.33 hours per week
In Hong:
	rich people work an average 45.00 hours per week
	poor people work an average 39.14 hours per week
In Hungary:
	rich people work an average 50.00 hours per week
	poor people work an average 31.30 hours per week
In India:
	rich people work an average 46.48 hours per week
	poor people work an average 38.23 hours per week
In Iran:
	rich people work an average 47.50 hours per week
	poor people work an average 41.44 hours per week
In Ireland:
	rich people work an average 48.00 hours per week
	poor people work an average 40.95 hours per week
In Italy:
	rich people work an average 45.40 hours per week
	poor people work an average 39.62 hours per week
In Jamaica:
	rich people work an average 41.10 hours per week
	poor people work an average 38.24 hours per week
In Japan:
	rich people work an average 47.96 hours per week
	poor people work an average 41.00 hours per week
In Laos:
	rich people work an average 40.00 hours per week
	poor people work an average 40.38 hours per week
In Mexico:
	rich people work an average 46.58 hours per week
	poor people work an average 40.00 hours per week
In Nicaragua:
	rich people work an average 37.50 hours per week
	poor people work an average 36.09 hours per week
In Outlying-US(Guam-USVI-etc):
	poor people work an average 41.86 hours per week
In Peru:
	rich people work an average 40.00 hours per week
	poor people work an average 35.07 hours per week
In Philippines:
	rich people work an average 43.03 hours per week
	poor people work an average 38.07 hours per week
In Poland:
	rich people work an average 39.00 hours per week
	poor people work an average 38.17 hours per week
In Portugal:
	rich people work an average 41.50 hours per week
	poor people work an average 41.94 hours per week
In Puerto-Rico:
	rich people work an average 39.42 hours per week
	poor people work an average 38.47 hours per week
In Scotland:
	rich people work an average 46.67 hours per week
	poor people work an average 39.44 hours per week
In South:
	rich people work an average 51.44 hours per week
	poor people work an average 40.16 hours per week
In Taiwan:
	rich people work an average 46.80 hours per week
	poor people work an average 33.77 hours per week
In Thailand:
	rich people work an average 58.33 hours per week
	poor people work an average 42.87 hours per week
In Trinadad&Tobago:
	rich people work an average 40.00 hours per week
	poor people work an average 37.06 hours per week
In United-States:
	rich people work an average 45.51 hours per week
	poor people work an average 38.80 hours per week
In Vietnam:
	rich people work an average 39.20 hours per week
	poor people work an average 37.19 hours per week
In Yugoslavia:
	rich people work an average 49.50 hours per week
	poor people work an average 41.60 hours per week